# TurboPOS ? Variables de entorno produccion
# Copia a .env y completa los valores reales

# ?? Base de datos ??????????????????????????????????????????
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=turbopos
DB_USER=postgres
DB_PASS=turbopos

# ?? Auth ???????????????????????????????????????????????????
JWT_SECRET=CAMBIAR_POR_SECRET_SEGURO_64_CHARS

# ?? Finkok PAC ?????????????????????????????????????????????
FINKOK_USER=danieloloarte@hotmail.com
FINKOK_PASS=D152520015352.d
FINKOK_ENV=sandbox
# Para produccion: FINKOK_ENV=produccion
# Usuario produccion: (el que te de Carlos Zavala)

# ?? Firebase ???????????????????????????????????????????????
FIREBASE_PROJECT=turbopos-7f9a2
# GOOGLE_APPLICATION_CREDENTIALS=/opt/turbopos/secrets/firebase-sa.json

# ?? OpenPay ????????????????????????????????????????????????
OPENPAY_MERCHANT=m4yysuma88ryhsjwjgdb
OPENPAY_KEY=pk_9539c5c50ce14cf29d2b098526b39739
OPENPAY_ENV=sandbox

# ?? SMTP ???????????????????????????????????????????????????
SMTP_USER=turbopos.tech@gmail.com
SMTP_PASS=rsxqrxsudqqmuwnt

# ?? Servidor ???????????????????????????????????????????????
BFF_PORT=8080
DOMAIN=turbopos.mx
